.AddTodo {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.todoInput {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  border: 1px solid #E1E1E1;
  height: 42px;
  font-size: medium;
}

.submitBtn {
  background-color: #57AFE2;
  color: white;
  border-radius: 3px;
  border: none;
  position: absolute;
  right: -25px;
  top: 6px;
  padding: 10px;
}
